@layer framework {
  button,
  input[type="button"],
  input[type="submit"],
  a[role="button"] {
    --color-bg: var(--color-base);
    --color-bg-disabled: var(--color-base-dim);
    --color-bg-hover: var(--color-base-lit);
    --color-border: var(--color-base-border);
    --color-font: var(--color-base-contrast);

    --font-size: var(--font-size-m);
    --padding-v: 0.5em;
    --padding-h: 0.6em;
    --min-size: calc(var(--font-size) + var(--padding-v) * 2);
    --img-size: calc(var(--font-size) * 1.2);
    --img-offset: calc((var(--min-size) - var(--img-size)) / 2);
    --shadow-inset: -3px;
    --shadow: var(--shadow-base),
      var(--color-border) 0 var(--shadow-inset) 0 inset;

    appearance: none;
    background-color: var(--color-bg);
    border: none;
    border-radius: var(--gap-s);
    box-shadow: var(--shadow);
    color: var(--color-font);
    font-size: var(--font-size);
    font-weight: normal;
    line-height: var(--font-size);
    margin: var(--gap-s) var(--gap-xs);
    min-width: var(--min-size);
    min-height: var(--min-size);
    outline: none;
    padding: var(--padding-v) var(--padding-h);
    padding-bottom: calc(var(--padding-v) + 2px);
    position: relative;
    vertical-align: middle;
    text-decoration: none;
    transition-property: none;
    transition: 0.3s;
    display: inline-block;
  }

  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  a[role="button"]:hover {
    background-color: var(--color-bg-hover);
    cursor: pointer;
  }

  button:active,
  input[type="button"]:active,
  input[type="submit"]:active,
  a[role="button"]:active {
    top: 1px;
  }

  button:disabled,
  input[type="button"]:disabled,
  input[type="submit"]:disabled,
  a[role="button"]:disabled {
    background-color: var(--color-bg-disabled);
    opacity: 0.6;
    cursor: not-allowed;
  }

  button:disabled:hover,
  input[type="button"]:disabled:hover,
  input[type="submit"]:disabled:hover,
  a[role="button"]:disabled:hover {
    background-color: var(--color-bg-disabled);
  }

  button:disabled:active,
  input[type="button"]:disabled:hover,
  input[type="submit"]:disabled:hover,
  a[role="button"]:disabled:active {
    top: 0;
  }

  button > img,
  button > svg,
  a[role="button"] > img,
  a[role="button"] > svg {
    position: absolute;
    width: var(--img-size);
    height: var(--img-size);
    top: var(--img-offset);
  }

  button > svg,
  a[role="button"] > svg {
    fill: var(--color-font);
  }

  button > img:first-child,
  button > svg:first-child,
  a[role="button"] > svg:first-child {
    left: var(--img-offset);
  }

  button > img:last-child,
  button > svg:last-child,
  a[role="button"] > svg:last-child {
    right: var(--img-offset);
  }

  button > span:not(:first-child),
  a[role="button"] > span:not(:first-child) {
    padding-left: calc(var(--min-size) - var(--gap-s) * 2);
  }

  button > span:not(:last-child),
  a[role="button"] > span:not(:last-child) {
    padding-right: calc(var(--min-size) - var(--gap-s));
  }

  button[data-category="primary"],
  input[type="button"][data-category="primary"],
  input[type="submit"][data-category="primary"],
  a[role="button"][data-category="primary"] {
    --color-bg: var(--color-primary);
    --color-bg-disabled: var(--color-primary-dim);
    --color-bg-hover: var(--color-primary-lit);
    --color-border: var(--color-primary-border);
    --color-font: var(--color-primary-contrast);
    --shadow: var(--shadow-primary), var(--color-border) 0 -3px 0 inset;
  }

  button[data-category="secondary"],
  input[type="button"][data-category="secondary"],
  input[type="submit"][data-category="secondary"],
  a[role="button"][data-category="secondary"] {
    --color-bg: var(--color-secondary);
    --color-bg-disabled: var(--color-secondary-dim);
    --color-bg-hover: var(--color-secondary-lit);
    --color-border: var(--color-secondary-border);
    --color-font: var(--color-secondary-contrast);
    --shadow: var(--shadow-secondary), var(--color-border) 0 -3px 0 inset;
  }

  button[data-category="special"],
  input[type="button"][data-category="special"],
  input[type="submit"][data-category="special"],
  a[role="button"][data-category="special"] {
    --color-bg: var(--color-accent);
    --color-bg-disabled: var(--color-accent-dim);
    --color-bg-hover: var(--color-accent-lit);
    --color-border: var(--color-accent-border);
    --color-font: var(--color-accent-contrast);
    --shadow: var(--shadow-accent), var(--color-border) 0 -3px 0 inset;
  }

  button[data-importance="low"],
  input[type="button"][data-importance="low"],
  input[type="submit"][data-importance="low"],
  a[role="button"][data-importance="low"] {
    --font-size: var(--font-size-s);
  }

  button[data-importance="high"],
  input[type="button"][data-importance="high"],
  input[type="submit"][data-importance="high"],
  a[role="button"][data-importance="high"] {
    --font-size: var(--font-size-l);
  }

  button[data-importance="max"],
  input[type="button"][data-importance="max"],
  input[type="submit"][data-importance="max"],
  a[role="button"][data-importance="max"] {
    --font-size: var(--font-size-xl);
  }

  a[role="button"]:before,
  a[role="button"]:active {
    color: inherit;
  }
}
