@import url(props/breakpoints.css);
@import url(props/colors.css);
@import url(props/fonts.css);
@import url(props/gaps.css);
@import url(props/lines.css);

@import url(elements/a.css);
@import url(elements/body.css);
@import url(elements/button.css);
@import url(elements/header.css);
@import url(elements/input.css);
@import url(elements/nav.css);
@import url(elements/p.css);
@import url(elements/progress.css);
@import url(elements/span.css);

@layer framework {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 16px;
  }
}
